            <script defer type="text/javascript" src="/js/lib/jquery-1.11.1.min.js"></script>
            <script defer type="text/javascript" src="/js/lib/moment.min.js"></script>
            <script defer type="text/javascript" src="/js/lib/moment-timezone-with-data.min.js"></script>
            <script defer type="text/javascript" src="/js/lib/highlight.pack.js"></script>
            <script defer type="text/javascript" src="/js/videoEmbed.js"></script>
            <script defer type="text/javascript" src="/js/script.js"></script>