---
layout: default
---

<section class="projects">
    <h1><a href="/projects/">Projects</a></h1>
    {% assign years = site.projects | sort: "year" | group_by: "year" | reverse %}
    {% for year in years %}
    <span>{{ year.name }}</span>
    {% for project in year.items %}
    <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
    <!--<ul class="tags">
        {% for tag in project.tags %}
        <li><a href="/projects/tags/{{name_clean}}" style="background-color: {{color}}">{{ tag }}</a></li>
        {% endfor %}
    </ul>-->
    <p></p>
    {% endfor %}
    {% endfor %}
</section>